@import-normalize;
@import 'fonts.css';
@import 'notes.css';
@import 'header.css';
/* general styles */

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  margin: 0;
  padding: 0;
  background: center no-repeat url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

input,
textarea {
  outline: none;
  resize: none;
}
