.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.note {
  width: 250px;
  height: 250px;
  margin: 25px;
  background-color: #cbe1ef;
  box-shadow: 3px 3px 4px rgba(33,33,33,.6);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding:25px;
  cursor:grab;
}

.note:hover {
  transform: scale3d(1.02, 1.02, 1.01);
}

/* note content */

.note__title,
.note__description {
  font-family: 'Kalam', cursive;
  width: 100%;
  background: transparent;
  border:none;
}

.note__title {
  font-size: 20px;
  font-weight: bold;
}

.note__description {
  flex-grow: 1;
  font-size: 18px;
}

/* note delete */

.note__delete {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 14px;
  color: darkgrey;
  padding: 5px;
}

.note__delete:hover {
  color: grey;
  cursor: pointer;
}
